@using WebUI.Components.Pages.UserProfile

<MudAppBar Elevation="1">
    <MudTooltip Arrow="true" Text="Toggle menu">
        <MudToggleIconButton Class="mr-3"
                             Color="@Color.Default"
                             Icon="@Icons.Material.Filled.MenuOpen"
                             Size="Size.Medium"
                             Toggled="NavigationMenuDrawerOpen"
                             ToggledChanged="ToggleNavigationMenuDrawer"
                             ToggledColor="@Color.Default"
                             ToggledIcon="@Icons.Material.Filled.Close"/>

    </MudTooltip>
    <MudSpacer/>
    <MudDivider Class="mx-3 my-5" DividerType="DividerType.Middle" Vertical="true" FlexItem="true"/>
    <MudTooltip Arrow="true" Text="Toggle dark mode">
        <MudToggleIconButton Class="mr-3"
                             Color="@Color.Default"
                             Icon="@Icons.Material.Outlined.LightMode"
                             Size="Size.Medium"
                             Toggled="IsDarkMode"
                             ToggledChanged="ToggleDarkMode"
                             ToggledColor="@Color.Default"
                             ToggledIcon="@Icons.Material.Filled.DarkMode"/>

    </MudTooltip>

    <MudMenu Icon="@Icons.Material.Filled.Person"
             ActivationEvent="@MouseEvent.MouseOver"
             AnchorOrigin="Origin.BottomRight"
             TransformOrigin="Origin.TopRight"
             AriaLabel="Open user menu"
             Dense="true">
        <MudMenuItem @onclick=GoToProfile Class="pa-3">
            <MudStack Row=true >
                <MudIcon Icon="@Icons.Material.Filled.PersonOutline"/>
                <MudText>Profile</MudText>
            </MudStack>
        </MudMenuItem>

        <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <button type="submit" class="mud-nav-link mud-ripple pa-3">
                <MudStack Row=true>
                    <MudIcon Icon="@Icons.Material.Filled.Logout"/>
                    <MudText style="display: inline;">Logout</MudText>
                </MudStack>
            </button>
        </form>

    </MudMenu>

</MudAppBar>

@code
{
    [Parameter] 
    public bool IsDarkMode { get; set; }

    [Parameter]
    public EventCallback ToggleDarkMode { get; set; }

    [Parameter] 
    public bool NavigationMenuDrawerOpen { get; set; }
    
    [Parameter] 
    public EventCallback ToggleNavigationMenuDrawer { get; set; }

    private void GoToProfile()
    {
        NavigationManager.NavigateTo(Profile.PageUrl);
    }
}